


    <h1>ShimCity Travel Log</h1>
    <p>Places I've been</p>
    <p>Japan</p>
    <p> Chile</p>
    <p> Germany</p>
    <p>India </p>
    <p>England</p>
    <p>Norway</p>
    <p>Korea</p>
    <p>Taiwan</p>
    <p>Malaysia</p>
    <p>Singapore</p>
    <p>Italy</p>
    <p>France</p>
    <p>Peru</p>
    <p>Ecuador</p>
